<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estudiante.nombre %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @estudiante.correo %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @estudiante.usuario %>
</p>

<p>
  <strong>Password:</strong>
  <%= @estudiante.password %>
</p>

<%= link_to 'Edit', edit_estudiante_path(@estudiante) %> |
<%= link_to 'Back', estudiantes_path %>
